body
{
    font-family: sans-serif;
}

.welcome
{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

.panel
{
    background-color: #2c6767;
    color: #ffff00;
}

.bottomPanel
{
	background-color: #2c6767;
    color: #ffff00;
}

.info
{
    font-size: larger;
    font-weight: bold;
    color: white;
}

.info_small
{
    position: absolute;
    bottom: 13px;
}

.label
{
    position: absolute;
    top: 5px;
    left: 5px;
}

.alert
{
    background-color: #ffffff;
    font-family: sans-serif;
    text-align: center;
}

.bar
{
    background-color: #d5d5d5;
    padding: 5px;
}

.short_medium {
	font-size: 12px;
	padding: .4em 1.0em .42em;
}
