@import "../../var.css";

.cardlistWrapper {
  width: 100%;
}
.card-list {
  margin: 15px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 15px 0;
}

.cardlistWrapper.Partners {
  background-color: var(--cc-teal-light4);
}
.cardlistWrapper.Utilities {
  background-color: var(--cc-orange-light3);
}
.cardlistWrapper.Data.Games {
  background-color: var(--support-blue-light4);
}
.cardlistWrapper.Data.Worlds {
  background-color: var(--feedback-green-light3);
}