#backbox
{
	position:absolute;
    top: 0;
    left: 0;
    width: 520px;
    height: 350px;
    background-color: #272634;
}

#cover
{
	position:absolute;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
}

#welcome_panel
{
	position:absolute;
	bottom:0px;
	left:0px;
    right: 0px;
	height:44px;
    padding: 5px;
}

#video_panel
{
	position:absolute;
	top:0px;
	width:100%;
    height: 312px;
}

#start_game_button
{
	position:absolute;
	top:5px;
	right:5px;
}
#welcome_text
{
    position: absolute;
    top: 10px;
    right: 140px;
}

#game_button
{
	position:absolute;
	left:8px;
	top:7px;
}

#levels_button
{
    position: absolute;
    right: 10px;
    top: 7px;
}

#outercontrols
{
    position:absolute;
    bottom:0px;
    width:100%;
    height:38px;
    visibility: hidden;
}

#gameArea
{
    position: absolute;
    top: 112px;
    bottom: 38px;
    width: 100%;
    visibility: hidden;
}

#sliderArea
{
    position: absolute;
    top: 65px;
    height: 40px;
    left: 0px;
    width: 374px;
    visibility: hidden;
}

#gameCover
{
    position: absolute;
    top: 24px;
    bottom: 48px;
    width: 100%;
    visibility: hidden;
    background-color: rgba(255,255,255,.01);
}

#game_panel
{
    position: absolute;
    width: 100%;
    height: 32px;
}

#label
{
    position: absolute;
    top: 2px;
    left: 5px;
}

#score_panel
{
    position: absolute;
    top: 0px;
    right: 10px;
    height: 100%;
    width: 120px;
}

#turn_panel
{
    position: absolute;
    top: 32px;
    width: 100%;
    height: 74px;
}

#push_button
{
    position: absolute;
    left: 135px;
    top: 10px;
    width: 8em;
}

#strategy_button
{
    position: absolute;
    right: 10px;
    top: 10px;
    width:8.5em !important;
}

#auto_button
{
    position: absolute;
    right: 10px;
    top: 42px;
    width:8.5em !important;
}

#level
{
    position: absolute;
    padding: 7px;
    left: 112px;
    height: 100%;
    right: 0px;
}

#game
{
    position: absolute;
    padding: 5px;
    right: 5px;
    height: 100%;
    width: 50px;
    text-align: center;
}

#level_alert
{
    position: absolute;
    left: 140px;
    width: 250px;
    top: 10px;
    height: 110px;
    visibility: hidden;
}

#level_alert_bar
{
    position: absolute;
    height: 20px;
    width: 240px;
}

#unlock_info
{
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5px;
}

#OK_button
{
    position: absolute;
    bottom: 5px;
    right: 5px;
}