<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glissando</title>

    <script type="text/javascript" src="../../Common/js/iframe-phone.js"></script>
    <script type="text/javascript" src="../../Common/js/CodapInterface.js"></script>
    <script type="text/javascript" src="../lib/CodapPluginHelper.js"></script>
    <script type="text/javascript" src="../lib/CodapDragHandler.js"></script>

    <script type="text/javascript" src="../lib/PluginMovesRecorder.js"></script>
    <script type="text/javascript" src="../common/DataMovesData.js"></script>
    <script type="text/javascript" src="../common/TransportData.js"></script>

    <script type="text/javascript" src="../lib/vue.min.js"></script>
    <script type="text/javascript" src="../lib/NexusUI.js"></script>
    <script type="text/javascript" src="../lib/dtm.min.js"></script>

    <link rel="stylesheet" href="../common/styles.css">

    <style type="text/css">
        .mapper-container {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="loading-screen">Loading the plugin...</div>
<div id="app">
    <div>
        <label for="play-toggle">Play</label>
        <span id="play-toggle"></span>
    </div>
    <hr>

    <div class="mapper-container">
        Context
        <label>
            <select v-model="context" v-on:change="onContextSelectedByUI" class="drop-area" id="contextDropArea">
                <option disabled value="" hidden>Select context</option>
                <option v-for="context in contexts">{{context}}</option>
            </select>
        </label>
    </div>

    <hr>
    <div class="mapper-container">
        Pitch
        <label>
            <select v-model="selectedPitchAttr" v-on:change="onPitchAttrSelectedByUI(selectedPitchAttr)" class="drop-area" id="pitchAttr">
                <option disabled value="" hidden>Select context first</option>
                <option v-for="attribute in attributes">{{attribute}}</option>
                <option v-if="globals.length" disabled>──────────</option>
                <option v-if="globals.length" v-for="global in globals.map(g => g.name)">{{global}}</option>
            </select>
        </label>

        <!--<div>-->
            <!--<label>-->
                <!--<input type="checkbox" v-model="pitchAttrIsDate" v-on:change="onPitchAttrSelectedByUI"> DateTime-->
            <!--</label>-->
            <!--<label>-->
                <!--<input type="checkbox" v-model="pitchAttrIsDescending" v-on:change="onPitchAttrSelectedByUI"> Descending-->
            <!--</label>-->
        <!--</div>-->
    </div>

    <div class="mapper-container">
        Loudness
        <label>
            <select v-model="selectedLoudnessAttr" v-on:change="onLoudnessAttrSelectedByUI(selectedLoudnessAttr)" class="drop-area" id="loudnessAttr">
                <option disabled value="" hidden>Select context first</option>
                <option v-for="attribute in attributes">{{attribute}}</option>
                <option v-if="globals.length" disabled>──────────</option>
                <option v-if="globals.length" v-for="global in globals.map(g => g.name)">{{global}}</option>
            </select>
        </label>

        <!--<div>-->
            <!--<label>-->
                <!--<input type="checkbox" v-model="loudnessAttrIsDate" v-on:change="onTimeAttrSelectedByUI"> DateTime-->
            <!--</label>-->
            <!--<label>-->
                <!--<input type="checkbox" v-model="loudnessAttrIsDescending" v-on:change="onTimeAttrSelectedByUI"> Descending-->
            <!--</label>-->
        <!--</div>-->
    </div>

    <hr>
    <div>
        Glissando Speed <span id="speed-slider"></span>
    </div>

    <div id="footer-container">
        <img id="info-icon" src="../images/Icon-round-Question_mark.svg" alt="Information" draggable="false" @click="openInfoPage">
        <img id="draggable-link" src="../images/Simpleicons_Interface_link-interface-symbol-1.svg" draggable="true" ondragstart="(ev => {
            ev.dataTransfer.setData('text', window.location.href);
            ev.dataTransfer.setData('url', window.location.href);
        })(event)">
    </div>
</div>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="../lib/Csound/csound.js"></script>
</body>
</html>