#backbox
{
	position:absolute;
    top: 0px;
    left: 0px;
	width:570px;
	height:408px;
    background-color: white;
    font-size:16px;
}

#control_cover
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:50px;
    z-index: 1000;

	visibility: hidden;
}

#control_panel
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:50px;

	visibility: hidden;
}

#turn
{
    position: absolute;
    left: 10px;
    top: 10px;
}

#auto_play_button
{
	position:absolute;
	right:10px;
	top:10px;
}

#watch_button
{
	position:absolute;
	left:100px;
    top: 10px;
}

#sell_button
{
	position:absolute;
	left:185px;
    top: 10px;
}

#price_input
{
	position:absolute;
	right:145px;
	top:1px;
    /*z-index: 120;*/
}

#price_input_box
{
    position: relative;
    top: -7px;
    left: -10px;
    width: 70px;
    padding-left: 5px;
    font-size: 110%;
}

#up
{
    position: relative;
    left: -20px;
    cursor: pointer;
}

#down
{
    position: relative;
    z-index: 100;
    cursor: pointer;
}

#gamebox
{
	position:absolute;
	left:0px;
	top:50px;
	width:100%;
	height:310px;
	
	visibility: hidden;
}

#feedback
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 48px;
    background-image: url('../img/feedback.png');
    font-style: bold;
    font-size: x-large;
}

#cars
{
	position:absolute;
	top:10px;
	left:86px;
}

#flats
{
	position:absolute;
	top:10px;
	left:197px;
}

#profit
{
	position:absolute;
	top:10px;
	left:250px;
}

#money
{
	position:absolute;
	top:10px;
	left:453px;
}

#carCanvas
{
	position:absolute;
	left:0px;
	top:48px;
	width:100%;
	height:260px;
    background-image: url('../img/road.png');
}

#welcome_panel
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#welcome_pic
{
    position: absolute;
    top: 0px;
    bottom: 150px;
    left: 0px;
    width: 100%;
    background-image: url('../img/welcome.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

#welcome_text
{
    position: absolute;
    bottom: 5px;
    height: 150px;
    left: 5px;
    right: 5px;
    padding-left: 5px;
    background-color: gray;
}

#play
{
	position:absolute;
	bottom:10px;
	right:10px;
}


#storybox
{
	position:absolute;
	top:100px;
	left:20px;
	width:450px;
	height:250px;
	padding-top:40px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
}

#resultsbox
{
	position:absolute;
	top:5px;
	left:20px;
	width:450px;
	height:150px;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
    z-index: 100;
    line-height: 150%;
}

#zeroCustomers
{
	position:absolute;
	top:20%;
	left:20%;
	/*width:450px;*/
	/*height:20px;*/
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
    z-index: 100;
}

#outercontrols
{
    position:absolute;
    top:360px;
    left:0px;
    width:100%;
    height:48px;
    visibility: hidden;
}

#game_button
{
	position:absolute;
	left:10px;
	top:10px;
}

#game
{
    position: absolute;
    right: 10px;
    top: 10px;
}