<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Spectrum AD</title>

    <script type="text/javascript" src="../../Common/js/iframe-phone.js"></script>
    <script type="text/javascript" src="../../Common/js/CodapInterface.js"></script>
    <script type="text/javascript" src="../lib/CodapPluginHelper.js"></script>
    <script type="text/javascript" src="../lib/CodapDragHandler.js"></script>

    <script type="text/javascript" src="../lib/PluginMovesRecorder.js"></script>
    <script type="text/javascript" src="../common/DataMovesData.js"></script>
    <script type="text/javascript" src="../common/TransportData.js"></script>
    <script type="text/javascript" src="../common/MixerData.js"></script>

    <script type="text/javascript" src="../lib/vue.min.js"></script>
    <script type="text/javascript" src="../lib/dtm.js"></script>
    <script type="text/javascript" src="../lib/NexusUI.js"></script>

    <link rel="stylesheet" href="../common/styles.css">

    <style type="text/css">
        .property-row, .playback-control {
            height: 30px;
            display: flex;
            align-items: center;
        }

        .property-row > span, .playback-control > span {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="property-row">
        <span>Context</span>
        <span>
            <select v-model="dataCtx" @change="onDataCtxSelection" class="drop-area" id="ctx-drop-area">
                <option disabled value="">Select context</option>
                <option v-for="dataCtx in dataCtxList">{{dataCtx}}</option>
            </select>
        </span>
    </div>
    <div class="property-row">
        <span>Pitch</span>
        <span>
            <select v-model="orderAttr" @change="onOrderAttrSelection" class="drop-area" id="pitch-drop-area">
                <option disabled value="">Select attribute</option>
                <option v-for="attr in attrList">{{attr}}</option>
                <option v-if="globals.length" disabled>──────────</option>
                <option v-if="globals.length" v-for="global in globals.map(g => g.name)">{{global}}</option>
                <option disabled>──────────</option>
                <option>Evenly-spaced</option>
            </select>
        </span>
        <span>
            <label>
                <input type="checkbox" v-model="orderAttrIsDescending" @change="onOrderAttrSelection">
            </label>
            <span>Descending</span>
        </span>
    </div>
    <div class="property-row">
        <span>Loudness</span>
        <span>
            <select v-model="magAttr" @change="onMagAttrSelection" class="drop-area" id="mag-drop-area">
                <option disabled value="">Select attribute</option>
                <option v-for="attr in attrList">{{attr}}</option>
                <option v-if="globals.length" disabled>──────────</option>
                <option v-if="globals.length" v-for="global in globals.map(g => g.name)">{{global}}</option>
            </select>
        </span>
        <span>
            <label>
                <input type="checkbox" v-model="magAttrIsDescending" @change="onMagAttrSelection">
            </label>
            <span>Descending</span>
        </span>
    </div>
    <div class="property-row">
        <span class="playback-control">
            <span>Play</span>
            <span id="play-toggle"></span>
        </span>
        <span class="playback-control">
            <span>Base Pitch</span>
            <span id="pitch-slider"></span>
        </span>
    </div>
    <div class="property-row">
        <span>Stereo</span>
        <span id="pan-slider"></span>
    </div>

    <div id="footer-container">
        <img id="info-icon" src="../images/Icon-round-Question_mark.svg" alt="Information" draggable="false" @click="openInfoPage">
        <img id="draggable-link" src="../images/Simpleicons_Interface_link-interface-symbol-1.svg" draggable="true" ondragstart="(ev => {
            ev.dataTransfer.setData('text', window.location.href);
            ev.dataTransfer.setData('url', window.location.href);
        })(event)">
    </div>
</div>
<script type="text/javascript" src="app.js"></script>
</body>
</html>