.info-icon {
  cursor: pointer;
}

#autocomplete-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 1000;
}

#autocomplete-results li {
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
}

#autocomplete-results li:hover {
  background-color: #f2f2f2;
}

.wx-pop-up {
  display: none;
}