body {
    background-color: #fff9f2;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

td {
    -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    user-modify: read-write;
}