#backgroundBox
{
	position:absolute;
	left:0px;
	top:0px;
    width: 357px;
    height: 541px;
    background-image: url("../img/sky.png");
}

#buttons
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 55px;
    background-image: url('../img/surface.png');
    background-size: 100% 100%;
}

#start_descent
{
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#setup
{
    position: absolute;
    left: 140px;
    bottom: 10px;
    width: 80px;
    padding: .4em 0em .42em;
}

#two_landers
{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.left
{
    left: 10px;
}

.right
{
    right: 10px;
}

.gauge
{
    position: absolute;
    top: 10px;
    width: 162px;
    height: 160px;
    background-image: url('../img/display.png');
}

.lander
{
    position: absolute;
    width: 162px;
    top: 170px;
    height: 325px;
}

#left_setup
{
    left: 65px;
}

#right_setup
{
    right: 65px;
}

.setup
{
    position: absolute;
    top: 218px;
    width: 100px;
    height: 220px;
    background-color: lightgray;
    padding: 5px;
    visibility: hidden;
    font-family: sans-serif;
    font-size: small;
}

#video_panel {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 178px;
    height: 541px;
}

#welcome_panel {
    position:absolute;
    left:0px;
    top:0px;
    width: 357px;
    height: 541px;
    background-color: rgba(0,0,0,0.001);
}

#welcome_text {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 163px;
    height: 541px;
    font-family: sans-serif;
    font-size: 18;
    color: white;
}

#buttons_cover{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 218px;
    height: 37px;
    background-image: url('../img/buttons.jpg')
}