body {
  background-color: white;
  font-family: "Museo Sans",Montserrat-Regular,sans-serif;
  font-size: 12px;
}

#content {
  background-color: rgb(238, 238, 238);
  /*
  width: 480px;
  */
  height: 640px;
  border: thin rgb(231,231,231) solid;
  display: flex;
  flex-direction: column;
}

#message-area {
  font-size: 10px;
}

#downsample-options {
  /*
  display: none;
  */
}

#target-options {
  /*
  display: none;
  */
}

#submit-area {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
}

#submit-area button {
  background-color: rgb(114, 191, 202);
  border-radius: 6px;
  color: white;
  margin: 5px;
  font-weight: 400;
  font-variant-caps: petite-caps;
}

.section-title {
  font-size: smaller;
}
.panel {
  min-height: 30px;
  margin: 10px 10px 0 10px;
  background-color: rgb(231, 231, 231);
  border-radius: 6px;
  padding: 10px;
}

.option-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}