body{
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.info-links{
  color: white;
}
.wrapper{
   position:relative;
   padding: 0px;
   margin: 0px;
   height: 100%;
 }
.sidebar{
  width: 20vw;
  height: 100%;
  display: block;
  background-color: #80B7C4;
  position: absolute;
  float: left;
  text-align: left;
  overflow-y:auto;
  overflow-x:hidden;
}
.main{
  float: right;
  height: 100%;
  width: auto;
}
#small-buttons{
  height: auto;
  background-color: #26A6C4;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 15pt;
  text-align: center;
}
a{
  font-family: serif;
  margin: none;
  padding: none;
  display: inline;
}
button{
  background-color: rgba(0,0,0, 0);
  border-style: inset;
  border-width: 3px;
  border-color: rgba(0,0,0, .2)
}
button:hover{
  background-blend-mode: darken;
  background-color: rgba(0,0,0, .1);
  border-style: inset;
  border-width: 3px;
}
button:active{
  background-blend-mode: lighten;
  background-color: rgba(255,255,255, .1);
  border-style: inset;
  border-width: 3px;
  border-color: rgba(255,255,255, .2)
}
#chart{
  border-top: 5px;
  margin-top: 5px;
  display:list-item;
}
select{
  background-color: #7EE6FF;
  border-color: #3F737F;
  font-size: 3vh;
  width: 90%;

}
.tooltip{

  position: relative;
  color: black;
}
.tooltiptext{
  padding: 5px;
  background-color: black;
  border-radius: 3px;
  color: white;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    font-size: 12pt;
    font-family: serif;
}
ul, li{
  cursor: pointer;
}
ul{
  list-style-type: none;
  background-color: rgba(255, 255, 255, .75);
  color: black;
  padding-left: 0;
  font-size: 14pt;
  padding-top: 10px;
  padding-bottom: 10px;
}
li{
  border-style: solid;
  border-width: 1px;
  border-color: grey;

  padding: 5px;
  padding-left: 20px;
  background-color: #A4CBD1;
  color:black;
  width: 100%;
}
.view-attribute-list{
  background-color: lightblue;
}
.view-attribute-list:hover{
  background-color: white;
}
.hidden{
  display: none;
}


.chart-container {
  position: relative;
  margin: auto;
  width: 80vw;
  height: 90vh
}

#info{
  z-index: 1;
  position: fixed;
  float: right;
  border: none;
  margin-left: 95vw;
}
#authorinfo{
  display: none;
  width: 70vw;
  height: 70vh;
  position: fixed;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: 15vw;
  margin-right: 15vw;
  z-index: 1;
  text-align: center;
}
#close-author{
  position: relative;
  float:right;
  color: white;
  border: none;
  font-size: 25pt;
}
#close-author:hover{
  color: lightblue;
}
.profile-container{
  position: relative;
  width: 30%;
  margin-top: 3%;
  margin-left: 35%;
}
#profile-pic{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
#profile-overlay {
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}
.profile-container:hover #profile-overlay {
  opacity: .5;
}
.selected, .selected:hover{
  background-color: black;
  color: white;
}

#profile-text {
  color: white;
  font-weight: bold;
  opacity: 1;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
