@import "../../var.css";

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 8px;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  color: var(--cc-charcoal);
  min-height: 210px;
  min-width: 210px;
  background-color: white;
}

.pluginTitle {
  font-weight: bold;
  font-size: 18px;
}
.pluginTitle:hover {
  color: var(--cc-teal-dark1);
}
.pluginTitle:active {
  color: var(--cc-teal-dark2);
}

.pluginDescription {
  margin: 10px;
  font-weight: normal;
  color: var(--cc-charcoal);
  font-size: 14px;
  height: 135px;
}
.pluginDescription > a {
  text-decoration: none;
  color: var(--cc-teal-dark1);
}

.embeddableLink {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
}
.embeddableLink:hover {
  color: var(--cc-teal-dark1);
}
.embeddableLink:active {
  color: var(--cc-teal-dark2);
}
