body {
  background-color: #e5e5e5;
  color: #555555;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 8pt;
}
label {
  display: block;
}
.label {
  font-weight: bold;
}
.step {
  display: none;
}

.step.active {
  display: block;
}

.error-msg {
  color: red;
}