<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CODAP Sequencer</title>

    <!-- CODAP interface -->
    <script type="text/javascript" src="../../Common/js/iframe-phone.js"></script>
    <script type="text/javascript" src="../../Common/js/CodapInterface.js"></script>
    <script type="text/javascript" src="../lib/CodapPluginHelper.js"></script>
    <script type="text/javascript" src="../lib/CodapDragHandler.js"></script>

    <!-- Misc libraries -->
    <script type="text/javascript" src="../lib/vue.min.js"></script>
    <script type="text/javascript" src="../lib/dtm.js"></script>
    <script type="text/javascript" src="../lib/NexusUI.js"></script>

    <link rel="stylesheet" href="../common/styles.css">

    <style type="text/css">
        .controller-container {
            display: flex;
            justify-content: left;
            align-items: center;
            margin-top: 4px;
        }
        .controller-container > label {
            width: 4.5em;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="controller-container">
        <button v-on:click="start">Start</button>
        <button v-on:click="stop">Stop</button>
        <button v-on:click="rewind">Rewind</button>
    </div>

    <div class="controller-container">
        <label for="speed-slider">Speed</label>
        <span id="speed-slider"></span>
    </div>
    <div class="controller-container">
        <label for="phase-slider">Position</label>
        <span id="phase-slider"></span>
    </div>
    <div class="controller-container">
        <label for="context-menu">Context</label>
        <select class="drop-area" id="context-menu" v-model="selectedContext" v-on:change="onContextSelected">
            <option disabled value="" hidden>Select context</option>
            <option v-for="context in contextList">{{context}}</option>
        </select>
    </div>
    <div class="controller-container">
        <label for="collection-menu">Collection</label>
        <select class="drop-area" id="collection-menu" v-model="selectedCollection">
            <option disabled value="" hidden>Select context first</option>
            <option v-for="collection in collectionList">{{collection}}</option>
        </select>
    </div>
    <div class="controller-container">
        <label for="select-all-toggle">Select all</label>
        <span id="select-all-toggle"></span>
    </div>

    <div id="footer-container">
        <img id="info-icon" src="../images/Icon-round-Question_mark.svg" alt="Information" draggable="false" @click="openInfoPage">
        <img id="draggable-link" src="../images/Simpleicons_Interface_link-interface-symbol-1.svg" draggable="true" ondragstart="(ev => {
            ev.dataTransfer.setData('text', window.location.href);
            ev.dataTransfer.setData('url', window.location.href);
        })(event)">
    </div>
</div>
<script type="text/javascript" src="app.js"></script>
</body>
</html>