<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Csound Playground</title>

    <!-- CODAP interface -->
    <script type="text/javascript" src="../../Common/js/iframe-phone.js"></script>
    <script type="text/javascript" src="../../Common/js/CodapInterface.js"></script>
    <script type="text/javascript" src="../lib/CodapPluginHelper.js"></script>
    <script type="text/javascript" src="../lib/CodapDragHandler.js"></script>

    <!-- Codemirror editor -->
    <script type="text/javascript" src="node_modules/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="node_modules/codemirror/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="node_modules/codemirror/addon/comment/continuecomment.js"></script>
    <script type="text/javascript" src="node_modules/codemirror/addon/comment/comment.js"></script>
    <script type="text/javascript" src="node_modules/codemirror/addon/search/searchcursor.js"></script>
    <script type="text/javascript" src="node_modules/codemirror/addon/search/search.js"></script>
    <script type="text/javascript" src="node_modules/codemirror/addon/search/match-highlighter.js"></script>
    <script type="text/javascript" src="node_modules/codemirror/addon/edit/closebrackets.js"></script>
    <script type="text/javascript" src="node_modules/codemirror/addon/edit/matchbrackets.js"></script>
    <script type="text/javascript" src="node_modules/codemirror/keymap/sublime.js"></script>
    <link rel="stylesheet" href="node_modules/codemirror/lib/codemirror.css">

    <!-- Misc libraries -->
    <script type="text/javascript" src="../lib/vue.min.js"></script>
    <script type="text/javascript" src="node_modules/d3/dist/d3.js"></script>
    <script type="text/javascript" src="../lib/dtm.js"></script>
    <script type="text/javascript" src="../lib/AudioFileManager.js"></script>

    <link rel="stylesheet" href="../common/styles.css">

    <style type="text/css">
        #app {
            width: 100%;
            height: 100%;
        }

        .CodeMirror {
            border: 1px solid #eee;
            height: auto;
        }

        .editor-title {
            font-family: sans-serif;
            font-size: 10px;
            text-align: center;
            padding: 5px;
        }

        #secondary-editors > div {
            width: 50%;
        }

        /*#misc-controls {*/
            /*display: flex;*/
        /*}*/

        .csound-log {
            font-family: sans-serif;
            font-size: 11px;
            padding: 5px;
        }
    </style>
</head>
<body>
<div class="loading-screen">Loading the plugin...</div>
<div id="app">
    <div id="main-editor" class="drop-area">
        <label for="editor"></label><textarea id="editor"></textarea>
    </div>
    <div id="misc-controls">
        <div>
            <span>
                <label>
                    <select v-model="selectedCommand">
                        <option disabled value="">Select command</option>
                        <option v-for="command in commands">{{command}}</option>
                    </select>
                </label>
            </span>
            <span>
                <button v-on:click="execute">Execute</button>
            </span>
        </div>
        <div>
            <input type="file" @change="openFile"/>
        </div>
    </div>
    <div class="csound-log">
        <div class="csound-log-line" v-for="logLine in csoundLog">{{logLine}}</div>
    </div>

    <div id="footer-container">
        <img src="../images/Education_-_The_Noun_Project.svg" alt="Manual" draggable="false" @click="openManual">
        <img id="info-icon" src="../images/Icon-round-Question_mark.svg" alt="Information" draggable="false" @click="openInfoPage">
        <img id="draggable-link" src="../images/Simpleicons_Interface_link-interface-symbol-1.svg" draggable="true" ondragstart="(ev => {
            ev.dataTransfer.setData('text', window.location.href);
            ev.dataTransfer.setData('url', window.location.href);
        })(event)">
    </div>
</div>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="../lib/Csound/csound.js"></script>
</body>
</html>