/*html {*/
    /*height: 100%;*/
/*}*/

/*body {*/
    /*font-family: sans-serif;*/
    /*display: block;*/
    /*position: absolute;*/
    /*height: auto;*/
    /*bottom: 0;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: 8px;*/
/*}*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;

    overflow-x: hidden;
    overflow-y: hidden;
}

#app {
    /*width: 100%;*/
    /*height: 100%;*/

    font-family: Helvetica, sans-serif;
    font-weight: 200;
    line-height: 20px;
    display: block;
    position: absolute
    flex-direction: column;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 8px;
    background-color: white;
}

.loading-screen {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    margin: 0;
}

.property-row {
    height: 30px;
    align-items: center;
}

.property-row > label {
    padding: 10px;
}

#footer-container {
    height: 1.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

#footer-container > img {
    height: 100%;
    margin: 3px;
    z-index: 1000;
}

#draggable-link {
    display: none;
}
