#model {
  position: absolute;
  left: 2vw;
  top: 5vw;
  width: 95vw;
  height: 47.5vw;
  z-index: -1;
}

#model-controls {
  position: absolute;
  left: 21vw;
  top: 50vw;
}

#draw-field {
  position: absolute;
  left: 4vw;
  top: 30vw;
  font-size: 3vw;
}

#draw-field input {
  width: 12vw;
  font-size: 3vw;
}

button {
    background-color: #dbf6ff;
    border: 0.3vw solid #008cba;
    border-radius: 0.5vw;
    color: black;
    min-width: 6vw;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    margin: 3vw 0vw;
    cursor: pointer;
    -webkit-transition: background-color 0.4s color 0.4s; /* Safari */
    transition: background-color 0.4s color 0.4s;
}

button:hover {
    background-color: #008cba;
    color: white;
}
