<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sonify</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
<div class="loading-screen">Loading the plugin...</div>
<div id="app" v-on:click="onBackgroundSelect">
    <div class="main-heading">
        <div class="controller-area" >
            <div class="controller-container" title="Enable sounds">
                <label for="play-toggle">Play</label>
                <span id="play-toggle"></span>
            </div>
            <div class="controller-container" title="Enable playback looping">
                <label for="loop-toggle">Loop</label>
                <span id="loop-toggle"></span>
            </div>
            <div class="controller-container" title="Adjust playback speed">
                <label for="speed-slider">Speed</label>
                <span id="speed-slider" title="Control the speed of playback"></span>
            </div>
        </div>
        <div class="message-area" title="Message area">
            {{userMessage}}
        </div>
    </div>

    <div class="main-scroll-container">
        <div class="mapper-container" title="Select dataset">
            Dataset
            <label>
                <select v-model="state.focusedContext" v-on:change="onContextFocused" id="contextDropArea">
                    <option disabled value="" hidden>Select context</option>
                    <option v-for="context in contexts" :value="context">
                        {{getContextTitle(context)}}
                    </option>
                </select>
            </label>
        </div>

        <div class="mapper-container" v-on:click="onBackgroundSelect">
            Pitch
            <label title="Select attribute controlling pitch">
                <select v-model="state.pitchAttribute" v-on:change="onPitchAttributeSelectedByUI" class="drop-area" id="pitchAttrDropArea">
                    <option selected value="NULL" >-----</option>
                    <option v-for="attribute in attributes">{{attribute}}</option>
                    <option v-if="globals.length" disabled>──────────</option>
                    <option v-if="globals.length" v-for="global in globals.map(g => g.name)">{{global}}</option>
                </select>
            </label>

            <div>
                <label title="Whether the attribute controlling pitch has date/time values or is numeric">
                    <input type="checkbox" v-model="state.pitchAttrIsDate" disabled="true"  v-on:change="onPitchAttributeSelectedByUI"> DateTime
                </label>
            </div>
        </div>

        <div class="mapper-container">
            Time
            <label title="Select the attribute controlling the sequence of samples played">
                <select v-model="state.timeAttribute" v-on:change="onTimeAttributeSelectedByUI" class="drop-area" id="timeAttrDropArea">
                    <option selected value="NULL">-----</option>
                    <option v-for="attribute in attributes">{{attribute}}</option>
                    <option v-if="globals.length" disabled>──────────</option>
                    <option v-if="globals.length" v-for="global in globals.map(g => g.name)">{{global}}</option>
                </select>
            </label>

            <div>
                <label title="Whether the time attribute has date/time values or numeric values">
                    <input type="checkbox" v-model="state.timeAttrIsDate" disabled="true" v-on:change="onTimeAttributeSelectedByUI"> DateTime
                </label>
            </div>
        </div>

        <hr>

        <div class="mapper-container" v-on:click="onBackgroundSelect" v-if="connectByAvailable">
            <label title="Select collection to connect cases by">
            Connect cases by
                <select v-model="state.focusedCollection" v-on:change="onConnectByCollectionSelectedByUI" class="drop-area" id="connectByCollDropArea">
                    <option selected value="NULL" >-----</option>
                    <option v-for="collection in collections">{{collection}}</option>
                </select>
            </label>
        </div>

        <div class="mapper-container">
            <button :disabled="!isPlayable" v-on:click="createGraph">create graph</button>
        </div>
    </div>
    <div id="footer-container">
      <span id="info-icon" title="Information" @click="openInfoPage">&#9432;</span>
    </div>
</div>

<script type="text/javascript" src="../Common/js/iframe-phone.js"></script>
<script type="text/javascript" src="../Common/js/CodapInterface.js"></script>
<script defer type="text/javascript" src="./lib/Csound/csound.js"></script>

<script type="module" src="dist/main.js"></script>
</body>
</html>
