#backbox
{
	position:absolute;
    top: 0;
    left: 0;
    width: 463px;
    height: 344px;
    font-size:16px;
}

#cover
{
	position:absolute;
    top: 0;
    left: 0;
    width: 463px;
    height: 344px;
}

#welcome_panel
{
	position:absolute;
	bottom:0px;
    left: 0px;
	width:463px;
	height:48px;
}

#video_panel
{
	position:absolute;
	top:0px;
	width:100%;
    bottom: 50px;
}

#start_game_button
{
	position:absolute;
	bottom:10px;
	left:170px;
}
#welcome_text
{
    position: absolute;
    top: 10px;
    left: 5px;
}

#game_button
{
	position:absolute;
	left:10px;
	top:10px;
}

#levels_button
{
    position: absolute;
    right: 70px;
    top: 10px;
}

#outercontrols
{
    position:absolute;
    bottom:0px;
    width:459px;
    height:48px;
    visibility: hidden;
}

#gameArea
{
    position: absolute;
    top: 0;
    bottom: 48px;
    width: 100%;
    visibility: hidden;
    background-image: url('../img/greenshade.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
}

#gameCover
{
    position: absolute;
    top: 0;
    bottom: 48px;
    width: 100%;
    visibility: hidden;
    background-color: rgba(255,255,255,.01);
}

#goal
{
    position: absolute;
    padding: 5px;
    left: 8em;
    height: 100%;
    width: 3em;
    text-align: center;
}

#score
{
    position: absolute;
    padding: 5px;
    left: 11.3em;
    height: 100%;
    width: 3em;
    text-align: center;
}

#level
{
    position: absolute;
    padding: 5px;
    left: 14.5em;
    height: 100%;
    width: 4em;
    text-align: center;
}

#game
{
    position: absolute;
    padding: 5px;
    right: 5px;
    height: 100%;
    width: 50px;
    text-align: center;
}

#level_alert
{
    position: absolute;
    left: 105px;
    width: 250px;
    top: 10px;
    height: 110px;
    visibility: hidden;
}

#level_alert_bar
{
    position: absolute;
    height: 20px;
    width: 240px;
}

#unlock_info
{
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5px;
}

#OK_button
{
    position: absolute;
    bottom: 5px;
    right: 5px;
}