body {
  background-color: #fffaf0;
  font-family: sans-serif;
  color: rgb(110,109,95);
  font-size: 14px;
}

.tester div {
  margin: 5px 0;
}

.tester div.tester-info {
  font-size: 12px;
  margin: 10px 0;
}

.popup-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.25;
}

.popup {
  position: fixed;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 50%;
  background-color: #fff;
  border: 2px solid #777;
  overflow: auto;
}

.popup-titlebar {
  margin: 0;
  padding: 5px 7px;
  background-color: #105262;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.popup-titlebar-close {
  cursor: pointer;
  float: right;
  color: #fff;
  margin-left: 10px;
}

.popup-info {
  padding: 10px;
}

.countdown-active {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.countdown-done {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #f00;
}